Node-RED/get access db.json
[{"id":"368355bb.f9cbfa","type":"tab","label":"Get access db","disabled":false,"info":""},{"id":"ee5a4338.de19b","type":"http in","z":"368355bb.f9cbfa","name":"","url":"receiveJsonDjango","method":"post","upload":false,"swaggerDoc":"","x":190,"y":100,"wires":[["ea0fb92c.b6c988","79459bdd.2e8b34"]]},{"id":"769011a2.5bcd9","type":"http response","z":"368355bb.f9cbfa","name":"","statusCode":"200","headers":{},"x":920,"y":240,"wires":[]},{"id":"9c72b19b.872db","type":"comment","z":"368355bb.f9cbfa","name":"Make sure same as configuration endpoint","info":"","x":200,"y":40,"wires":[]},{"id":"ea0fb92c.b6c988","type":"debug","z":"368355bb.f9cbfa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"79459bdd.2e8b34","type":"function","z":"368355bb.f9cbfa","name":"Get object keys","func":"var keys = Object.keys(msg.payload);\nmsg.keys = keys;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["db4e3b6d.127f58"]]},{"id":"db4e3b6d.127f58","type":"function","z":"368355bb.f9cbfa","name":"Get object value","func":"var values = Object.values(msg.payload);\nvar arr = [];\n\nfor (var i in values) {\n    arr.push(\"'\" + values[i] + \"'\");\n}\n\nmsg.values = arr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["984e9b6a.700978"]]},{"id":"998743f8.682f6","type":"template","z":"368355bb.f9cbfa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO {{global.tableName}} (\n    id, {{keys}}\n) VALUES (\n    {{{count}}}, {{{values}}}\n);","output":"str","x":1220,"y":260,"wires":[["6022a3ac.2ab04c","5c204db8.64aa54"]]},{"id":"984e9b6a.700978","type":"template","z":"368355bb.f9cbfa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM {{global.tableName}} WHERE ip_address = {{{values.0}}} AND old_id = {{{values.2}}}","output":"str","x":620,"y":80,"wires":[["2740627b.34406e"]]},{"id":"2740627b.34406e","type":"MSSQL","z":"368355bb.f9cbfa","mssqlCN":"5d79f934.224a78","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"","paramsOptType":"none","params":[],"x":840,"y":80,"wires":[["cdbb1f79.021e5"]]},{"id":"cdbb1f79.021e5","type":"switch","z":"368355bb.f9cbfa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":180,"wires":[["c4f9b3c3.d7b83","16b8432d.006d9d"],["769011a2.5bcd9","943666cc.d0a618"]]},{"id":"5c204db8.64aa54","type":"MSSQL","z":"368355bb.f9cbfa","mssqlCN":"5d79f934.224a78","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"","paramsOptType":"none","params":[],"x":1440,"y":260,"wires":[["7c4cbe96.ef0d2"]]},{"id":"7c4cbe96.ef0d2","type":"http response","z":"368355bb.f9cbfa","name":"","statusCode":"200","headers":{},"x":1660,"y":260,"wires":[]},{"id":"c4f9b3c3.d7b83","type":"MSSQL","z":"368355bb.f9cbfa","mssqlCN":"5d79f934.224a78","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SELECT MAX(id) FROM {{global.tableName}};","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":940,"y":180,"wires":[["a8d99888.b30078"]]},{"id":"a8d99888.b30078","type":"function","z":"368355bb.f9cbfa","name":"","func":"var arr = Object.values(msg.payload[0]);\nvar count = arr[0] + 1;\n\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":180,"wires":[["998743f8.682f6"]]},{"id":"6022a3ac.2ab04c","type":"debug","z":"368355bb.f9cbfa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":320,"wires":[]},{"id":"16b8432d.006d9d","type":"function","z":"368355bb.f9cbfa","name":"isEmpty","func":"node.warn(msg.values[0] + \"--\" + msg.values[2] + \"isEmpty\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":340,"wires":[[]]},{"id":"943666cc.d0a618","type":"function","z":"368355bb.f9cbfa","name":"isNotEmpty","func":"node.warn(msg.values[0] + \"--\" + msg.values[2] + \"isNotEmpty\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":380,"wires":[[]]},{"id":"b79195f9.0115b8","type":"http in","z":"368355bb.f9cbfa","name":"","url":"lastRecordDatetime","method":"get","upload":false,"swaggerDoc":"","x":180,"y":460,"wires":[["933262a7.7d7d6","66db9328.cefb3c"]]},{"id":"3588d744.970788","type":"http response","z":"368355bb.f9cbfa","name":"","statusCode":"","headers":{},"x":880,"y":460,"wires":[]},{"id":"933262a7.7d7d6","type":"debug","z":"368355bb.f9cbfa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":520,"wires":[]},{"id":"ed52c2dc.cf38b","type":"MSSQL","z":"368355bb.f9cbfa","mssqlCN":"5d79f934.224a78","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"","paramsOptType":"none","params":[],"x":680,"y":460,"wires":[["3588d744.970788","2b0bfaa2.980536"]]},{"id":"66db9328.cefb3c","type":"template","z":"368355bb.f9cbfa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT TOP 1\n    start_date FROM {{global.tableName}}\nWHERE\n    ip_address = '{{payload.ip_address}}' AND\n    tables = '{{payload.tables}}'\nORDER BY id DESC;","output":"str","x":460,"y":460,"wires":[["ed52c2dc.cf38b"]]},{"id":"2b0bfaa2.980536","type":"debug","z":"368355bb.f9cbfa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":520,"wires":[]},{"id":"38ddfde2.9ee352","type":"http in","z":"368355bb.f9cbfa","name":"","url":"text","method":"post","upload":false,"swaggerDoc":"","x":140,"y":680,"wires":[["3976f94.795ae06","f2f48e70.2257d","e25f065d.01efd8"]]},{"id":"f2f48e70.2257d","type":"http response","z":"368355bb.f9cbfa","name":"","statusCode":"","headers":{},"x":320,"y":680,"wires":[]},{"id":"3976f94.795ae06","type":"debug","z":"368355bb.f9cbfa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":760,"wires":[]},{"id":"e25f065d.01efd8","type":"split","z":"368355bb.f9cbfa","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":720,"wires":[["24ea815.92f3b7e"]]},{"id":"24ea815.92f3b7e","type":"debug","z":"368355bb.f9cbfa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":720,"wires":[]},{"id":"35692b0.2c40cd6","type":"inject","z":"368355bb.f9cbfa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":900,"wires":[["8c8d1775.c17058"]]},{"id":"8c8d1775.c17058","type":"template","z":"368355bb.f9cbfa","name":"","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE {{global.tableName}} (\n    id int,\n    ip_address varchar(MAX),\n    tables varchar(50),\n    old_id int,\n    start_date datetime,\n    stop_date datetime,\n    machine_name varchar(50),\n    package_name varchar(50),\n    lot_number varchar(50),\n    part_number varchar(50),\n    part_type varchar(50),\n    quantity_in int,\n    operator_id varchar(50),\n    total_good_qty int,\n    total_rej_qty int,\n    loading_time int,\n    operation_time int,\n    down_time int,\n    idling_time int,\n    soft_jam int,\n    hard_jam int,\n    mtba int,\n    mtbf int,\n    initial_v1_yield decimal(18, 2),\n    v1_yield decimal(18, 2),\n    initial_v2_yield decimal(18, 2),\n    v2_yield decimal(18, 2),\n    initial_v3_yield decimal(18, 2),\n    v3_yield decimal(18, 2),\n    initial_v4_yield decimal(18, 2),\n    v4_yield decimal(18, 2),\n    initial_v5_yield decimal(18, 2),\n    v5_yield decimal(18, 2),\n    initial_v6_yield decimal(18, 2),\n    v6_yield decimal(18, 2),\n    initial_v7_yield decimal(18, 2),\n    v7_yield decimal(18, 2),\n    bin_1_reject_crack int,\n    bin_2_reject_geometric int,\n    bin_3_rej int,\n    bin_4_rej int,\n    good_bin int,\n    total_output int,\n    initial_yield decimal(18, 2),\n    overall_yield decimal(18, 2),\n    initial_uph int,\n    lot_uph int,\n    rescan int\n);","output":"str","x":300,"y":900,"wires":[["e687bf6d.5744a"]]},{"id":"e687bf6d.5744a","type":"MSSQL","z":"368355bb.f9cbfa","mssqlCN":"5d79f934.224a78","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":480,"y":900,"wires":[[]]},{"id":"3b46c24a.5bc12e","type":"change","z":"368355bb.f9cbfa","name":"","rules":[{"t":"set","p":"tableName","pt":"global","to":"avi999","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1020,"wires":[[]]},{"id":"8ff5d4b7.37ae48","type":"inject","z":"368355bb.f9cbfa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1020,"wires":[["3b46c24a.5bc12e"]]},{"id":"e9330def.c0cdf","type":"comment","z":"368355bb.f9cbfa","name":"Create database table","info":"","x":160,"y":860,"wires":[]},{"id":"296ec6fd.3ed60a","type":"comment","z":"368355bb.f9cbfa","name":"Set table name as global variable","info":"","x":190,"y":980,"wires":[]},{"id":"5d79f934.224a78","type":"MSSQL-CN","tdsVersion":"7_4","name":"","server":"172.22.213.111","port":"1433","encyption":true,"trustServerCertificate":true,"database":"litmus","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true}]